body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: sans-serif; 
  }

  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    height: 23px;
    margin-left: .8rem;
  }
  
  .navbar-right {
    align-items: center;
    color:black;
  }
  
  .navbar-dropdown {
    position: relative;
    margin-right: 5vh;
    color:black;
  }
  
  .navbar-more-tools {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
    height: 100%; 
    outline: none;
    font-family: sans-serif;
    font-size: 0.941rem;
    box-sizing: border-box; 
    padding: 0; 
    margin: 0 0 0 0;
  }
  .navbar-more-tools:focus{
    outline:none;
  }

  .navbar-more-tools span {
    padding: 1.3rem 15px; /* Move padding to the inner content */
    color:black;
  }

  .navbar-more-tools.dropdown-active {
    background-color: #eaeaea;

    height: 100%;
  }
  
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 6px 10px;
    height: 3rem;
    background-color: #fff;
    border-bottom: 1px solid #ccc; 
    z-index: 100;
    box-shadow: 0px 0px 10px 1px rgb(59, 59, 59);
    margin-top: 0;
  }
  .navbar-div{
    margin:0;
    margin-left:0;
  }

  .dropdown-menu {
    position: absolute;
    top: calc(100%);
    left: 0; 
    background-color: #eaeaea; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    list-style: none;
    padding: 3px 0; 
    margin: 0; 
    z-index: 1000; 
    width: 200px; 
    font-family:sans-serif;
    font-size: .941rem;
  }
  
  .dropdown-menu li {
    padding: 0;
  }
  
  .dropdown-link {
    display: block;
    padding: 9px 15px; 
    text-decoration: none; 
    color: #333;
  }
  
  .dropdown-link:hover {
    background-color: #eaeaea;
    color: #2685bf; 
  }
  
  .navbar-more-tools {
    position: relative;
  }

  .dropdown-icon {
    height:.7vh;
    width:1.5vh;
    color:#d22030;
    margin-left: 10px;
  }

  .navbar-left button {
    background: none; /* No background */
    border: none; /* No border */
    padding: 0; /* No padding */
    cursor: pointer; /* Change cursor to indicate it's clickable */
  }